<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IO.Properties.Settings>
            <setting name="FTP" serializeAs="String">
                <value>88.86.83.22</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="LOGIN" serializeAs="String">
                <value>kolomzavod</value>
            </setting>
            <setting name="PASS" serializeAs="String">
                <value>klmzvd777ooao</value>
            </setting>
            <setting name="DIR_SERCH" serializeAs="String">
                <value>ASK</value>
            </setting>
            <setting name="RAR" serializeAs="String">
                <value>C:\rez_FTP</value>
            </setting>
            <setting name="SAVE" serializeAs="String">
                <value>C:\rez_FTP</value>
            </setting>
            <setting name="S_TEP70BS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_2TE116U" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="S_3TE116U" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="S_2TE25A" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_2TE116UM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_TEM31" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_CHME3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_2TE116" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FILTER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regim_Pasivnii" serializeAs="String">
                <value>True</value>
            </setting>
        </IO.Properties.Settings>
    </userSettings>
</configuration>